
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

}
.rounded{



}
div.gallery:hover {
  border: 1px solid #777;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

div.gallery img {
  width: 100%;
  height: auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.lightbox-gallery {
    background-color: gray;
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}

.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}

/*mod link https://bbbootstrap.com/snippets/lightbox-gallery-38774499*/
